[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flask_restful = "*"
flask_sqlalchemy = "*"
pymysql = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
statsmodels = "*"

[requires]
python_version = "3.6"
